<footer class="Footer">
    <div class="container-footer">
        <div class="head-footer">
            <a href="/"> <img src="/images/Logo.svg" alt="logo" class="logo"></a>
        </div>
        <div class="text-footer">
            <p>
                Web site created for academic purposes, the aim of this web site is simply to be a forum for
                students to clarify doubts about programming in general, this site was inspired by Stackoverflow.
            </p>
        </div>
        <div class="links-footer">
            <div class="h2-link-footer">
                <h2> My Social Medias</h2>
            </div>
            <div class="img-links-footer">
                <a href="https://github.com/Edufalcao14" target="_blank"> <img src="/images/GitHub.svg" alt="GitHub Icon" class="logo"></a>
                <a href="https://www.linkedin.com/in/eduardo-henrique-sampaio-falcao-52024b23b/" target="_blank"> <img src="/images/LinkedIn.svg" alt="LinkedIn" class="logo"></a>
            </div>
        </div>
        <div class="footer-copywright">
            <p>Copyright© 2022 Illegal Argument.</p>
        </div>
    </div>
</footer>