<!DOCTYPE html>
<html>
  <head>
    <title>Illegal Agument </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logoForum.svg">
    
  </head>
  <body class="Site">
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
